::-webkit-scrollbar {
	width: 0.5rem;
}
::-webkit-scrollbar-track {
	background: #645305;
}

::-webkit-scrollbar-thumb {
	background: #650a38;
}

::-webkit-scrollbar-thumb:hover {
	background: #625159;
}

body {
	overflow-y: scroll !important;
	overflow-x: hidden !important;
}